*{
    margin-top: 50px;
}

body{
    text-align: center;
    background-color: black;
    color: white;
}


input.GameInput{
    width: 100px;
    height: 100px;
    color: black;
    border: solid 0px white;
    margin: 30px 50px;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.pink{
    background-color: pink;
}

.green{
    background-color: green;
}

.playing{
    background: white;
}

.loose{
    background: red;
}
.info > *{
    display: inline;
    font-size: 30px;
}

.turnNo{
    color: red;
}
.turnYes{
    color: green;
}